/* FOR DESKTOP */
@media only screen and (min-width: 1440px) and (max-width:1500px )
{
    .k-title  { width: 95%; }
    .center-albums{ margin-left: 3%; }
    .view-all-title  { width: 5%; }
    .profile-scroll { position: fixed; left: 95.5%;   top: 86%; }
    .albums-img{ height: 197px !important;}
    .searchbox {  margin-left: 17% !important; }
    .card.small{height: 175px !important;}
    .search-icon{display: none;}
}
@media only screen and (min-width: 1280px) and (max-width:1439px )
{
    .k-title { width: 95%; }
    .center-albums{margin-left: 3%; }
    .view-all-title{width: 6%;  margin-right: 4%; }
    .albums-catlog{width: 196px !important; }
    .profile-scroll { position: fixed;  left: 95.5%; top: 88%;  }
    .fa_profile {  width: 45px; font-size: 29px !important;}
    .searchbox {  margin-left: 20% !important;  }
    .albums-img{ height: 173px !important;}
    .search_all {  width: 85%;  }
    .track-features{width: 13%; left: 10%;}
    .search-icon{display: none;}
}
@media only screen and (min-width: 1600px)
{
    .view-all-title {width: 6%; font-size: larger; }
    .albums-catlog  {width: 200px !important;}
    .k-title{font-weight: 600;}
    .search-icon{display: none;}
    .albums-img{height: 177px !important;}
}
@media only screen and (min-width: 1024px) and (max-width: 1279px)
{
    .view-all-title {width: 7%; margin-right: 3%; }
    .center-albums{ margin-left: 2%;}
    .albums-catlog  {width: 160px !important;}
    .k-title{width: 96%;}
    .searchbox{margin-left: 20% !important;}
    .albums-img {  height: 138px !important;  }
    .profile-scroll {  left: 95.8%;  top: 89%;  }
    .fa_profile {  width: 37px;  font-size: 23px !important;}
    .viewmore-title{width: 30% !important;}
    .find{width: 30% !important;}
    .search_all{width: 60% !important;}
    .card.small{ height: 185px !important;}
    .tracks{    margin-left: 0px !important;  width: 100% !important;}
    .track-features{width: 18%;left: 2%;}
    .album-title{  margin-top: 12%; width: 62%;  }
    .tracks-list{margin-top: 40px;}
    .search-icon{display: none;}
}

/* For Tablet */

@media only screen and (min-width: 665px) and (max-width: 1023px)
{
    .view-all-title {width: 58%;margin-right: 3%; font-size: large;}
    .center-albums{ margin-left: 10%;}
    .albums-catlog  {width: 200px !important;}
    .k-title{width: 87%;}
    .searchbox{ margin-left: 30% !important;  width: 46%;}
    .brand-logo{left: 10% !important;}
    .album-main-img{ width: 35% !important; }
    .button-collapse{float: right !important;}
    .side-nav{width: 210px !important;}
    .profile-scroll { left: 92%;  top: 88%;  }
    .fa_profile { width: 44px;  font-size: 25px !important;}
    .albums-img {  height: 179px !important;  }
    .viewmore-title{ width: 40% !important; margin-top: 50px !important;}
    .find{ width: 30% !important;}
    .card.small{ height: 185px !important;}
    .tracks{    margin-left: 0px !important;  width: 100% !important;}
    .track-features{width: 18%;left: 2%;}
    .album-title{  margin-top: 22%; width: 62%;  }
}

/* for Mobile Devices */

@media only screen and (min-width: 425px) and (max-width: 664px)
{
    .logo-img{height: 40px !important;}
    .view-all-title {width: 57%;margin-right: 3%; font-size: large;}
    .center-albums{ margin-left: 2%;}
    .albums-catlog  {width: 195px !important;}
    .k-title{width: 94%;}
    .searchbox{ margin-left: 34% !important;  width: 50%;}
    .brand-logo{left: 14% !important; width: 170px;}
    .side-nav{width: 210px !important;}
    .slider{height: 250px !important;}
    .slides{height: 215px !important;}
    .copyright{ display: block; text-align: center;}
    .social-icons{display: inline-block;margin-left: 22%;}
    .profile-scroll { position: fixed;  left: 86%;  top: 85%;  z-index: 1; }
    .fa_profile {  width: 45px;  font-size: 26px !important;}
    .albums-img {  height: 174px !important;  }
    .button-collapse{float: right !important;}
    .find{width: 100% !important; }
    .search_all {  width: 59%;  margin-bottom: 15px;  }
    .card.small{ height: 133px !important;}
    .tracks{    margin-left: 0px !important;  width: 100% !important;}
    .album-title{  margin-top: 22%; width: 62%;  }
    .album-main-img{margin-left: 0px !important; width: 45% !important;}
    .tracks-list{margin-left: 0px !important;  }
    .artist-track{margin-left: 0px !important;}
    .track-features {  width: 34% !important;  bottom: 66px;  left: 80%;}
    .track{height: 85px !important;}
    .card.profile-img{ height: 133px !important;}
}


@media only screen and (min-width: 375px) and (max-width: 423px)
{
    .logo-img{height: 40px !important;}
    .view-all-title {width: 59%;margin-right: 3%; font-size: large;}
    .center-albums{ margin-left: 2%;}
    .albums-catlog  {width: 173px !important;}
    .k-title{width: 94%;}
    .searchbox{    margin-left: 138px !important;  width: 46%;}
    .brand-logo{  left: 16% !important;  width: 170px;}
    .side-nav{width: 210px !important;}
    .slider{height: 250px !important;}
    .slides{height: 215px !important;}
    .copyright{ display: block; text-align: center;}
    .social-icons{display: inline-block;margin-left: 18%;}
    .albums-img {  height: 152px !important;  }
    .profile-scroll { position: fixed;  left: 83%;  top: 84%;  z-index: 1;  }
    .fa_profile {  width: 41px;  font-size: 25px !important;}
    .button-collapse{float: right !important;}
    .find{width: 100% !important; }
    .search_all {  width: 59%;  margin-bottom: 15px;  }
    .card.small{     height: 150px !important;  margin-top: 25px;}
    .tracks{    margin-left: 0px !important;  width: 100% !important;}
    .track-features{width: 18%;left: 2%;}
    .album-title{  margin-top: 22%; width: 62%;  }
    .album-main-img{margin-left: 0px !important; width: 40% !important;}
    .tracks-list{margin-left: 0px !important;  }
    .artist-track{margin-left: 0px !important;}
    .track-features {  width: 37% !important;  bottom: 66px; left: 75%;}
    .track{height: 85px !important;}
    .album-bg-img{ width: 100% !important;}
    .album-tracks-data{ width: 100% !important;}
    .card.profile-img{     height: 108px !important;  margin-top: 25px;}
}
@media only screen and (min-width: 320px) and (max-width: 359px)
{
    .logo-img{height: 40px !important;}
    .view-all-title {width: 59%;margin-right: 3%; font-size: large;}
    .center-albums{ margin-left: 2%;}
    .albums-catlog  {width: 145px !important;}
    .k-title{width: 94%;}
    .searchbox{  margin-left: 131px !important;  width: 40%;}
    .brand-logo{    left: 18% !important;  width: 170px;}
    .side-nav{width: 210px !important;}
    .slider{height: 250px !important;}
    .slides{height: 215px !important;}
    .copyright{ display: block; text-align: center;}
    .social-icons{display: inline-block;margin-left: 12%;}
    .albums-img {  height: 124px !important;  }
    .profile-scroll { position: fixed;  left: 83%;  top: 84%;  z-index: 1;}
    .fa_profile {  width: 41px;  font-size: 25px !important;}
    .button-collapse{float: right !important;}
    .find{width: 100% !important; }
    .search_all { width: 59%;  margin-bottom: 15px;  }
    .card.small{ height: 124px !important;  margin-top: 25px;}
    .tracks{ margin-left: 0px !important;  width: 100% !important;}
    .track-features{ width: 20% !important;  bottom: 70px;  left: 90%;}
    .album-title{ margin-top: 22%;  width: 70%;  font-size: 35px; }
    .album-main-img{margin-left: 0px !important; width: 40% !important;}
    .tracks-list{margin-left: 0px !important;  }
    .artist-track{margin-left: 0px !important;}
    .track{height: 125px !important;}
    .album-bg-img{ width: 100% !important;}
    .album-tracks-data{ width: 100% !important;}
    .card.profile-img{ height: 88px !important;  margin-top: 25px;}
}

@media only screen and (min-width: 360px) and (max-width: 374px)
{
    .logo-img{height: 40px !important;}
    .view-all-title {width: 59%;margin-right: 3%; font-size: large;}
    .center-albums{ margin-left: 0%;}
    .albums-catlog  {width: 165px !important;}
    .k-title{width: 94%;}
    .searchbox{  margin-left: 131px !important;  width: 40%;}
    .brand-logo{    left: 18% !important;  width: 170px;}
    .side-nav{width: 210px !important;}
    .slider{height: 250px !important;}
    .slides{height: 215px !important;}
    .copyright{ display: block; text-align: center;}
    .social-icons{display: inline-block;margin-left: 12%;}
    .albums-img {  height: 124px !important;  }
    .profile-scroll { position: fixed;  left: 83%;  top: 84%;  z-index: 1;}
    .fa_profile {  width: 36px;  font-size: 20px !important;}
    .button-collapse{float: right !important;}
    .find{width: 100% !important; }
    .search_all { width: 59%;  margin-bottom: 15px;  }
    .card.small{ height: 144px !important;  margin-top: 25px;}
    .tracks{ margin-left: 0px !important; padding: 0px !important; width: 100% !important;}
    .track-features{ width: 23% !important; bottom: 15px;  left: 6%;}
    .album-title{ margin-top: 22%;  width: 70%;  font-size: 35px; }
    .album-main-img{margin-left: 0px !important; width: 40% !important;}
    .tracks-list{margin-left: 0px !important; padding: 0px !important; }
    .artist-track{margin-left: 0px !important; width: 60%;overflow: hidden; height: 43px; margin-top: 18px;}
    .track{height: 85px !important; padding: 0px !important;}
    .album-bg-img{ width: 100% !important;}
    .album-tracks-data{ width: 100% !important; padding: 0px;}
    .card.profile-img{ height: 88px !important;  margin-top: 25px;}
    .track-features .fa { margin: 0px !important; }
    .mble-view{padding: 0px !important;}
    .mble_nav{margin-bottom: 0px !important;}
    .artist-name{font-size: small;}
    .ellipsis-artist{    white-space: nowrap;  width: 90% !important;  overflow: hidden;  text-overflow: ellipsis;}
    .searchbox{ margin-left: 8px !important;  width: 87%; display: none}

}
