body{font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;}
.searchbox { WIDTH: 40%;  display: inline-block;margin-left: 15% !important;}
.logo {padding-left: 30px !important;  }
.logo-img { height: 50px; margin-top: 7px;}
.menu-space {padding-right: 85px;  }
nav { background:#01a5e2 !important;  }
.card-image { max-height: 100% !important;  }
.slider .slides li img {background-size: 100%; background-position: top !important;  }
.page-footer {background-color: #01a5e2 !important;}
nav .nav-wrapper { border-bottom: 2px solid yellow;}
.nav-wrapper .input-field input[type=search] { background: white;  height: 45px !important;}
nav .input-field label.active i { color: #01a5e2 !important;  font-size: xx-large; position: absolute;  bottom: 18px;}
.input-field input[type=search] ~ .mdi-navigation-close, .input-field input[type=search] ~ .material-icons { bottom: 3px;  }
.k-title {  margin-left: 10px;  color: #01a5e2;  font-size: 20px;  padding: 5px; background-color: white; width: 91%;  }
.albums-img {  height: 200px !important;  }
.albums-catlog {  width: 220px !important; }
.view-all-title { display: inline-block; width: 11%;float: right;  margin-right: 5%;  }
.icon-spacing { margin-right: 5px !important;  }
.card-content { padding: 15px !important;  }
.center-albums {margin-left: 5%;  }
.fa {  font-size: 25px !important; margin-right: 12px; background: #f7f7f7;  width: 35px; color: #059cd4;  padding: 5px; border-radius: 8px;  text-align: center;  }
.find {margin-top: 12px;}
.find > h6 { display: inline; width:20%; margin-right: 10px;  }
.search_all {width: 75%; margin-bottom: 15px;  }
.viewmore-title { margin-top: 12px;  }
.sort_btn {background: #059cd4 !important; ;}
.catlog-space-top{margin-top: 10px;}
.dropdown-content li>a{  font-size: 15px;}
.album-bg-img {height: 200px; background: rgba(5, 156, 212, 0.66);  }
.album-tracks-data{ min-height: 600px; background: #f7f7f7;}
.album-main-img { margin-top: 30px;margin-left: 30px !important;}
.tracks{ min-height: 600px;}
.tracks-list{    min-height: 600px; margin-left: 14px !important; margin-top: 30px;}
.track{  height: 70px;  background: #f7f7f7;  border-bottom: 1px solid #d6d6d6;  }
.play-pause{ width: 40px;display: inline-block; margin-top: 20px; float: left;}
.artist-track{ width: 70%; display: inline-block; margin-top: 15px;margin-left: 20px;}
.track-name{font-weight: 700;}
.artist-name{color: #5a5a5a;}
.track-features{ width: 11%;  display: inline-table; position: relative; bottom: 12px;left: 14%;}
.margin-right-zero{margin-right: 0px !important;}
.view-more { margin-top: 20px;}
.album-title{    margin-top: 8%; color: white;text-align: left; width: 55%; margin-left: 29%;  }
.profile{margin-bottom: 5%;}
.profile-img{ height: 195px !important;}
.profile-title { margin-top: 10%;   color: white;  text-align: left;    width: 55%;  margin-left: 19%;  }
.profile-scroll{ position: fixed; left: 95%; top: 92%;}
.fa_profile{width: 50px; font-size: 31px !important;  background: #059cd4;color: white;  border: 2px solid white;}
.social-f{background: #0f89d0; color: white;}
.social-tw{background: white;  color: #01a5e2;}
.social-ins{ background: #6d312e;  color: white;}
.social-ytb{  background: #c33434;  color: white;}
.social-gg{  background: white;  color: #d85555;}
.slider .indicators .indicator-item.active{    background-color: #059cd4 !important;  }
.track:hover{ height: 75px;     border-bottom: 2px solid #059cd4; cursor: pointer }
.track:hover .fa-play{  border: 3px solid #059cd4;  border-radius: 20px;  width: 39px; font-size: large !important; }
.track:hover .artist-track{  margin-left: 30px;}
.fa{margin-right: 0px !important;}
.dot-menu{ background: #01a5e2;  color: white;}
nav .button-collapse i {  height: 53px !important;  line-height: 50px !important;  }
.button-collapse{ margin: 0px !important; }
.search-icon{ display: inline-block;  color: white;  position: absolute;  left: 83%;}
#search{ border-radius: 60px;}
.card-image:hover{ border-radius: 110px;  }
.card-image{-webkit-transition-property: border-radius; /* Safari */  -webkit-transition-duration: 1s; /* Safari */  transition-property: border-radius;  transition-duration: 1s;}
.card.small { box-shadow:none }
.indicators{display: none;}
.card-title{ bottom: 40px !important;  left: 47px !important; }
.album-play{background: none;  color: white;  font-size: 40px !important;}
.social-icons .fa { margin-right: 10px !important;}

.card-image:hover .album-play{color:#059cd4;}

.artist-track{  -webkit-transition-property: margin-left; /* Safari */  -webkit-transition-duration: 1s; /* Safari */  transition-property: margin-left;  transition-duration: 1s;}
.carouse-arrow{ background: none ; color:  white ; margin-right: 0px ; font-size: large !important;}
/* carousel */
.carousel {  margin-bottom: 0;  padding: 0 40px 30px 40px;  height: 200px  !important;  margin-top: 20px;  }
/* The controlsy */
.carousel-control {  left: -12px;  height: 40px;  width: 40px;  background: none repeat scroll 0 0 #222222;  border: 4px solid #FFFFFF;  border-radius: 23px 23px 23px 23px;  margin-top: 90px;  }
.carousel-control.right {  right: -12px;  }
/* The indicators */
.carousel-indicators {  right: 50%;  top: auto;  bottom: -10px;  margin-right: -19px;  }
/* The colour of the indicators */
.carousel-indicators li {  background: #cecece;  }
.carousel-indicators .active {  background: #428bca;  }
.overflow-x-hidden {  overflow-x: hidden;  }