
.jwplayer.jw-flag-aspect-mode
{
    height:85px !important;
}
.jw-icon-fullscreen
{
    display:none !important;
}
.jw-flag-media-audio .jw-preview{
    background: #f7f7f7 !important;
}
video.jw-video.jw-reset
{
    background: #213a94 url("http://10.0.0.47/koyalpk/images/klogo.png") !important;
	background-repeat:no-repeat !important;
	background-size: 35% !important;
}
.jw-controlbar .jw-overlay
{
    position:fixed !important;
    left: 92%!important;
    bottom: 63px !important
}
.jw-controlbar.jw-background-color.jw-reset
{
    max-width: 100% !important;
    background: none;
    font-size: larger;
}
.jw-progress.jw-reset
{
    background:white !important;
}
ul.jw-menu.jw-background-color.jw-reset{
    background: linear-gradient(90deg, #8563be, #304a95);
}
.jw-slider-volume.jw-volume-tip.jw-background-color.jw-reset.jw-slider-vertical.jw-reset
{
    background: linear-gradient(90deg, #8563be, #304a95);
}
.jw-skin-bekle .jw-option.jw-active-option
{
    color: #2f3847 !important;
    background-color: rgb(255, 255, 255) !important;
}
.jw-skin-bekle .jw-toggle
{
    color: #ffffff !important;
}