/* FOR DESKTOP */
@media only screen and (min-width: 1600px)
{
    .k-title  { width: 15%;}
    .center-albums{ margin-left: 3%; position: relative; top: 60px; margin-bottom:70px !important;}
    .view-all-title  { width: 7%; margin-right:3% !important; }
    .profile-scroll { position: fixed; left: 95.5%;   top: 86%; }
    .albums-img{ height: 197px !important;}
    .card.small{height: 200px !important;}
    .search-icon{display: none;}
    #search-btn{display:none;}
    nav .input-field label.active i{    bottom: 12px !important;}
    i.material-icons.search-box-clear { bottom: -1px !important;}
    .card-title { bottom: 53px !important;left: 60px !important;}
    .searchbox {  margin-left:55% !important;  width: 44% !important; padding-top: 9px !important; }
    .tkw-sorted-content>.albums-catlog{height:290px !important;}
    #srchbox{display:none;}
    #nav-mobile{  margin-left: 13%;}
    .home_urdutitle{margin-right:35px;}
    .slider{top: 65px;}
    .page-footer{    position: relative; top:50px;}
    .slides{    height: 500px !important;}
    .slider{height:500px !important;}
    .slider{height:500px !important;}
    .col.s2.albums-catlog.Track-catlog {
        width: 75px;}
    .card.small.albums-img.tracks-img { height: 55px !important;}
    .track-name{display:inline-block;}
    .track-detail{margin-top:13px;}
    .options-txt{font-size: 10px;margin-left: 8px;display: table-cell; width: 30px;text-align: center;}
    .option-icon{ font-size: 20px !important;padding: 6px !important; border-radius: 27px; color: #d0d0d0;  margin-bottom: 2px; margin-top: 8px;}
    .blur-img {position: absolute;width: 88%;  background-size: cover!important;  left: 13px; filter: blur(8px); height: 228px;  margin-top: 10px;}
    .category-title{margin-top:6%;font-size:15px; margin-left:29% !important;}
    .album-main-img {width: 245px !important; margin-left: 35px !important;}
    nav { background-repeat-y: no-repeat !important; background-position: bottom !important;background-size: 62px !important;}
    .genrelist{line-height: 22px;
               text-align: center;
               width: 25% !important;
               margin-bottom: 15px;}
    .genrelist img {width:100px; border-radius: 60px;}
    .genrebox2{    z-index: 9999;
                   background: #ffffff;
                   position: absolute;
                   width: 100%;
                   top: 63px;
                   border: 1px solid #bfbfbf;
                   color: #796d6d;}
    .genrebox2 .genrelist{width: 15% !important; display: table-cell; background: white;}
    .genrebox2 span {color: #796d6d;}

}
@media only screen and (min-width: 1440px) and (max-width:1550px )
{
    .k-title  { width: 15%;}
    .center-albums{ margin-left: 3%; position: relative; top: 60px; margin-bottom:70px !important;}
    .view-all-title  { width: 7%; margin-right:3% !important; }
    .profile-scroll { position: fixed; left: 95.5%;   top: 86%; }
    .albums-img{ height: 197px !important;}
    .card.small{height: 200px !important;}
    .search-icon{display: none;}
    #search-btn{display:none;}
    nav .input-field label.active i{    bottom: 12px !important;}
    i.material-icons.search-box-clear { bottom: -1px !important;}
    .card-title { bottom: 53px !important;left: 60px !important;}
    .searchbox {  margin-left:55% !important;  width: 44% !important; padding-top: 9px !important; }
    .tkw-sorted-content>.albums-catlog{height:290px !important;}
    #srchbox{display:none;}
    #nav-mobile{  margin-left: 13%;}
    .home_urdutitle{margin-right:35px;}
    .slider{top: 65px;}
    .page-footer{    position: relative; top:50px;}
    .slides{    height: 500px !important;}
    .slider{height:500px !important;}
    .slider{height:500px !important;}
    .col.s2.albums-catlog.Track-catlog {
        width: 75px;}
    .card.small.albums-img.tracks-img { height: 55px !important;}
    .track-name{display:inline-block;}
    .track-detail{margin-top:13px;}
    .options-txt{font-size: 10px;margin-left: 8px;display: table-cell; width: 30px;text-align: center;}
    .option-icon{ font-size: 20px !important;padding: 6px !important; border-radius: 27px; color: #d0d0d0;  margin-bottom: 2px; margin-top: 8px;}
    .blur-img {position: absolute;width: 88%;  background-size: cover!important;  left: 13px; filter: blur(8px); height: 228px;  margin-top: 10px;}
    .category-title{margin-top:6%;font-size:15px;}
    .album-main-img {width: 245px !important; margin-left: 35px !important;}
    nav { background-repeat-y: no-repeat !important; background-position: bottom !important;background-size: 62px !important;}
    .genrelist{line-height: 22px;
               text-align: center;
               width: 25% !important;
               margin-bottom: 15px;}
    .genrelist img {width:100px; border-radius: 60px;}
    .genrebox2{    z-index: 9999;
                   background: #ffffff;
                   position: absolute;
                   width: 100%;
                   top: 63px;
                   border: 1px solid #bfbfbf;
                   color: #796d6d;}
    .genrebox2 .genrelist{width: 14% !important; display: table-cell; background: white;}
    .genrebox2 span {color: #796d6d;}
}
@media only screen and (min-width: 1302px) and (max-width:1439px )
{
    .k-title  { width: 15%;}
    .center-albums{ margin-left: 3%; position: relative; top: 60px; margin-bottom:70px !important;}
    .view-all-title  { width: 7%; margin-right:3% !important; }
    .profile-scroll { position: fixed; left: 95.5%;   top: 86%; }
    .albums-img{ height: 197px !important;}
    .card.small{height: 200px !important;}
    .search-icon{display: none;}
    #search-btn{display:none;}
    nav .input-field label.active i{    bottom: 12px !important;}
    i.material-icons.search-box-clear { bottom: -1px !important;}
    .card-title { bottom: 53px !important;left: 60px !important;}
    .searchbox {  margin-left:55% !important;  width: 44% !important; padding-top: 9px !important; }
    .tkw-sorted-content>.albums-catlog{height:290px !important;}
    #srchbox{display:none;}
    #nav-mobile{  margin-left: 13%;}
    .home_urdutitle{margin-right:35px;}
    .slider{top: 65px;}
    .page-footer{    position: relative; top:50px;}
    .slides{    height: 500px !important;}
    .slider{height:500px !important;}
    .slider{height:500px !important;}
    .col.s2.albums-catlog.Track-catlog {
        width: 75px;}
    .card.small.albums-img.tracks-img { height: 55px !important;}
    .track-name{display:inline-block;}
    .track-detail{margin-top:13px;}
    .options-txt{font-size: 10px;margin-left: 8px;display: table-cell; width: 30px;text-align: center;}
    .option-icon{ font-size: 20px !important;padding: 6px !important; border-radius: 27px; color: #d0d0d0;  margin-bottom: 2px; margin-top: 8px;}
    .blur-img {position: absolute;width: 88%;  background-size: cover!important;  left: 13px; filter: blur(8px); height: 228px;  margin-top: 10px;}
    .category-title{margin-top:6%;font-size:15px;}
    .album-main-img {width: 245px !important; margin-left: 35px !important;}
    nav { background-repeat-y: no-repeat !important; background-position: bottom !important;background-size: 62px !important;}
    .genrelist{line-height: 22px;
               text-align: center;
               width: 25% !important;
               margin-bottom: 15px;}
    .genrelist img {width:100px; border-radius: 60px;}
    .genrebox2{    z-index: 9999;
                   background: #ffffff;
                   position: absolute;
                   width: 100%;
                   top: 63px;
                   border: 1px solid #bfbfbf;
                   color: #796d6d;}
    .genrebox2 .genrelist{width:12% !important; display:inline-block;}
    .genrebox2 span {color: #796d6d;}
}
@media only screen and (min-width: 1280px) and (max-width:1300px )
{
    .k-title  { width: 15%;}
    .center-albums{ margin-left: 2%; position: relative; top: 60px; margin-bottom:70px !important;}
    .profile-scroll { position: fixed; left: 95.5%;   top: 86%; }
    .albums-img{ height: 197px !important;}
    .card.small{height: 180px !important;background:none;}
    .search-icon{display: none;}
    #search-btn{display:none;}
    nav .input-field label.active i{    bottom: 12px !important;}
    i.material-icons.search-box-clear { bottom: -1px !important;}
    .card-title {     bottom: -20px !important;
                      left: -15px !important;}
    .searchbox { margin-left: 60% !important; width: 39% !important; padding-top: 9px !important; }
    .tkw-sorted-content>.albums-catlog{height:290px !important;}
    #srchbox{display:none;}
    #nav-mobile{  margin-left: 13%;}
    .home_urdutitle{margin-right:35px;}
    .slider{top: 65px;}
    .page-footer{    position: relative; top:50px;}
    .slides{    height: 445px !important;}
    .slider{height:460px !important;}
    .col.s2.albums-catlog.Track-catlog {
        width: 75px;}
    .card.small.albums-img.tracks-img { height: 55px !important;}
    .track-name{display:inline-block;}
    .track-detail{margin-top:13px;}
    .options-txt{font-size: 10px;margin-left: 8px;display: table-cell; width: 30px;text-align: center;}
    .option-icon{ font-size: 20px !important;padding: 6px !important; border-radius: 27px; color: #d0d0d0;  margin-bottom: 2px; margin-top: 8px;}
    .blur-img {position: absolute; width: 83%;background-size: cover!important;   left: 34px; filter: blur(30px); height: 165px;   margin-top: 42px;  background-position: center !important;}
    .category-title{margin-top:6%;font-size:15px;margin-left:29%;}
    .album-main-img {width: 245px !important; margin-left: 35px !important;}
    nav { background-repeat-y: no-repeat !important; background-position: bottom !important;background-size: 62px !important;}
    .genrelist{line-height: 22px;
               text-align: center;
               width: 25% !important;
               margin-bottom: 15px;}
    .genrelist img {width:100px; border-radius: 60px;}
    .genrebox2{    z-index: 9999;
                   background: #ffffff;
                   position: absolute;
                   width: 100%;
                   top: 63px;
                   border: 1px solid #bfbfbf;
                   color: #796d6d;}
    .genrebox2 .genrelist{width:12% !important; display:inline-block;}
    .genrebox2 span {color: #796d6d;}
    .album-title{margin-left:29%;font-size:20px;}
    .artist-title{margin-left:29%;}
    .album-subtitle{margin-left:29%;}
}
@media only screen and (min-width: 1024px) and (max-width: 1279px)
{	
    .blur-img {position: absolute;width: 89%;background-size: cover!important; left: 34px; filter: blur(30px); height: 175px;margin-top: 32px; background-position: center !important;}
    .k-title  { width: 15%;}
    .center-albums{ margin-left: 2%; position: relative; top: 60px; margin-bottom:70px !important;}
    .profile-scroll { position: fixed; left: 95.5%;   top: 86%; }
    .albums-img{ height: 197px !important;}
    .card.small{height: 140px !important;background:none;}
    .search-icon{display: none;}
    #search-btn{display:none;}
    nav .input-field label.active i{    bottom: 12px !important;}
    i.material-icons.search-box-clear { bottom: -1px !important;}
    .card-title { bottom: 25px !important;left: 20px !important;}
    .searchbox {     margin-left: 71% !important;  width: 28% !important; padding-top: 9px !important; }
    .tkw-sorted-content>.albums-catlog{height:200px !important;}
    #srchbox{display:none;}
    #nav-mobile{  margin-left: 13%;}
    .home_urdutitle{margin-right:35px;}
    .slider{top: 65px;}
    .page-footer{    position: relative; top:50px;}
    .slides{    height: 445px !important;}
    .slider{height:460px !important;}
    .col.s2.albums-catlog.Track-catlog {
        width: 75px;}
    .card.small.albums-img.tracks-img { height: 55px !important;}
    .track-name{display:inline-block;}
    .track-detail{margin-top:13px;}
    .options-txt{font-size: 10px;margin-left: 8px;display: table-cell; width: 30px;text-align: center;}
    .option-icon{ font-size: 20px !important;padding: 6px !important; border-radius: 27px; color: #d0d0d0;  margin-bottom: 2px; margin-top: 8px;}
    .category-title{margin-top:6%;font-size:15px;margin-left:29%;}
    .album-main-img {width: 225px !important; margin-left: 3px !important;}
    nav { background-repeat-y: no-repeat !important; background-position: bottom !important;background-size: 62px !important;}
    .genrelist{line-height: 22px;
               text-align: center;
               width: 25% !important;
               margin-bottom: 15px;}
    .genrelist img {width:100px; border-radius: 60px;}
    .genrebox2{    z-index: 9999;
                   background: #ffffff;
                   position: absolute;
                   width: 100%;
                   top: 63px;
                   border: 1px solid #bfbfbf;
                   color: #796d6d;}
    .genrebox2 .genrelist{width:12% !important; display:inline-block;}
    .genrebox2 span {color: #796d6d;}
    #Popular .view-all-title, #New .view-all-title, #Collections .view-all-title, #Artists .view-all-title, #Albums .view-all-title
    {width:22%;}
    #Popular .show-more > .view-all-title, #New .show-more > .view-all-title, #Collections .show-more > .view-all-title, #Artists .show-more > .view-all-title, #Albums .show-more > .view-all-title{	width:40%;}
    .album-title{margin-left:29%;font-size:20px;}
    .artist-title{margin-left:29%;}
    .album-subtitle{margin-left:29%;}
    .album-bg-img , .album-tracks-data {width:100% !important;}
    .jwplayer.jw-flag-aspect-mode {
        height: 60px !important;}
    .jw-controlbar.jw-background-color.jw-reset{width:90%;margin-left:10%;}
    video.jw-video.jw-reset{    background-size: 11% !important;
                                background-position: left !important;}
    .cplayer-img{ bottom: -4px; left: 20px; width: 55px;}
}

/* For Tablet */

@media only screen and (min-width: 665px) and (max-width: 1023px)
{
    .k-title  { width: 15%;}
    .center-albums{ margin-left: 3%; position: relative; top: 60px; margin-bottom:70px !important;}
    .view-all-title  { width: 7%; margin-right:3% !important; }
    .profile-scroll { position: fixed; left: 95.5%;   top: 86%; }
    .albums-img{ height: 197px !important;}
    .card.small{height: 200px !important;}
    .search-icon{display: none;}
    #search-btn{display:none;}
    nav .input-field label.active i{    bottom: 12px !important;}
    i.material-icons.search-box-clear { bottom: -1px !important;}
    .card-title { bottom: 53px !important;left: 60px !important;}
    .searchbox {  margin-left:55% !important;  width: 44% !important; padding-top: 9px !important; }
    .tkw-sorted-content>.albums-catlog{height:290px !important;}
    #srchbox{display:none;}
    #nav-mobile{  margin-left: 13%;}
    .home_urdutitle{margin-right:35px;}
    .slider{top: 65px;}
    .page-footer{    position: relative; top:50px;}
    .slides{    height: 500px !important;}
    .slider{height:500px !important;}
    .slider{height:500px !important;}
    .col.s2.albums-catlog.Track-catlog {
        width: 75px;}
    .card.small.albums-img.tracks-img { height: 55px !important;}
    .track-name{display:inline-block;}
    .track-detail{margin-top:13px;}
    .options-txt{font-size: 10px;margin-left: 8px;display: table-cell; width: 30px;text-align: center;}
    .option-icon{ font-size: 20px !important;padding: 6px !important; border-radius: 27px; color: #d0d0d0;  margin-bottom: 2px; margin-top: 8px;}
    .blur-img {position: absolute;width: 88%;  background-size: cover!important;  left: 13px; filter: blur(8px); height: 228px;  margin-top: 10px;}
    .category-title{margin-top:6%;font-size:15px;margin-left:30%;}
    .album-main-img {width: 245px !important; margin-left: 35px !important;}
    nav { background-repeat-y: no-repeat !important; background-position: bottom !important;background-size: 62px !important;}
    .genrelist{line-height: 22px;
               text-align: center;
               width: 25% !important;
               margin-bottom: 15px;}
    .genrelist img {width:100px; border-radius: 60px;}
    .genrebox2{    z-index: 9999;
                   background: #ffffff;
                   position: absolute;
                   width: 100%;
                   top: 63px;
                   border: 1px solid #bfbfbf;
                   color: #796d6d;}
    .genrebox2 .genrelist{width:12% !important; display:inline-block;}
    .genrebox2 span {color: #796d6d;}
}

/* for Mobile Devices */

@media only screen and (min-width: 425px) and (max-width: 664px)
{
    .logo-img{height: 30px ;}
    .k-title{font-size:20px;}
    .page-footer{    position: relative; top:80px;}
    .home .col.s12{border-bottom: 1px solid #d3d3d3;}
    .albums-catlog{padding:2px ;}
    .view-all-title { width: 40%; margin-right: 30% ; font-size: large;}
    .center-albums{ margin-left: 6.5px; position: relative; top: 38px; margin-bottom:70px ;}
    .center-albums .col.s12 {padding:3px ; margin-bottom:0px ;}
    .k-title{width: 44% ;}
    .home_urdutitle{margin-right:10px;}
    .searchbox{  margin-left: 4px !important ; position: absolute !important ; top: 5px;}
    .brand-logo{    left: 51% ;  width: 170px;}
    .side-nav{width: 210px ;}
    .slider{height: 260px !important ; top:55px;}
    .slides{height: 260px !important ;}
    .copyright{ display: block; text-align: center;}
    .social-icons{display: inline-block;margin-left: 12%;}
    .albums-img {  height: 124px ;  }
    .profile-scroll { position: fixed;  left: 83%;  top: 84%;  z-index: 1;}
    .fa_profile {  width: 36px;  font-size: 20px ;}
    .find{width: 100% ; }
    .search_all { width: 59%;  margin-bottom: 15px;  }
    .card.small{ height: 160px ;  margin-top: 25px;}
    .tracks{ margin-left: 0px ; padding: 0px ; width: 100% ;}
    .track-features{ width: 23% ; bottom: 15px;  left: 6%;}
    .album-title{ margin-top: 25%;  width: 70%;  font-size: 17px; }
    .album-main-img{margin-left: 0px ; width: 40% ;}
    .tracks-list{margin-left: 0px ; padding: 0px ; }
    .artist-track{margin-left: 0px ; width: 60%;overflow: hidden; height: 43px; margin-top: 18px;}
    .track{height: 85px ; padding: 0px ;}
    .album-bg-img{ width: 100% !important;}
    .album-tracks-data{ width: 100% ; padding: 0px;}
    .card.profile-img{ height: 88px ;  margin-top: 25px;}
    .track-features .fa { margin: 0px ; }
    .mble-view{padding: 0px ;}
    .mble_nav{margin-bottom: 0px ;}
    .artist-name{font-size: small;}
    .home .card.small {margin-top:0px ;}
    .home .card-image {margin-top:0px ;}
    .card-title { bottom: 32px ; left: 32px ;}
    .ellipsis-artist{    white-space: nowrap;  width: 90% ;  overflow: hidden;  text-overflow: ellipsis;}
    #search-btn{ float: right; opacity: 1; margin-right:15px;}
    #search-btn > .material-icons{ font-size: 30px ;}
    nav .input-field label.active i {bottom:25px;}
    .album-subtitle{font-size:13px; width:70%;}
    /* 	.card-image{margin-top:45px ;} */
    .play-pause{width:100% ;}
    .by-artist { display: block; margin-left: 60px; font-size:11px;}
    a.track-name > .fa-play:before {position:relative; top:10px;}
    .blur-img{width:70%;}
    .mble-view{margin-left : 3px;}
    .center-albums > .col.s12{ box-shadow:none;}
    .tkw-show-more-tracks { width: 47% ; margin-right: 26% ;}
    .search-result .albums-img{height:75px ;}
    .search-title{margin-top:25px ; margin-bottom:20px ;}
    /* 	.search-result > .albums-catlog{ margin-left:21px ;}
    */	.mble-search{width:72% ;}
    .search-result > .albums-catlog{width:80px ;}
    .margin-20{width:100% ;}
    .search-result{width:100% ;}
    .show-more{float:right;}
    .more-album-btn{width:65% ;  margin-right: 50% ;}
    .margin-20 > .view-all-title { width: 40%;}
    .input-field input[type=search] ~ .material-icons{bottom:14px ;}
    #search2{display:none;}
    #srchbox{display:none;}
    .jw-controlbar.jw-background-color.jw-reset{width:100% !important ;}
    .jw-display.jw-reset{padding-top:12px !important ; padding-bottom:0px !important;z-index:9999;}
    .jwplayer .jw-display-icon-container{background:none;}
    .jw-display-controls{margin-left:120px !important ;}
    .jwplayer.jw-state-playing.jw-flag-user-inactive .jw-display{visibility:visible !important;opacity:1 !important;}
    .search-result .card-title { bottom: -8px ; left: 1px ;}
    .tkw-home-body-content .center-albums{top:70px ;bottom:50px;}
    .search-result .card-image { margin-top:0px ; }
    .search-result .card.small { margin-top:0px ;}
    .col.s11.viewmore-title {  height: 20px;}
    .tracks-list{box-shadow:none ;}
    .card.small.albums-img{margin:0px ;}
    .card-content{margin-bottom:10px;}
    .tracks-name{font-size:11.5px;}
    .tkw-albums .col.s6 { width:100% ; }
    .mark{display:none;}
    .search-title .artist{font-size:12px;}
    .album{font-size:12px;}
    .home{top: 60px;}
    .by-dash{display:none;}
    nav .brand-logo > img { margin-top: 2px;}

    #Popular .view-all-title , #New .view-all-title  , #Collections .view-all-title , #Artists .view-all-title , #Albums .view-all-title{width:96%;margin-right:5px;}
    #Popular .k-title, #New .k-title, #Collections .k-title, #Artists .k-title, #Albums .k-title{margin-top:17px;}
    #New > #titles , #Popular > .all-albums{margin-top:0px;}
    #Collections > #New , #Collections > .all-albums{margin-top:0px;}
    #Artists > #titles , #Artists > .all-albums{margin-top:0px;}
    #Albums > #titles , #Albums > .all-albums{margin-top:0px;}
    .albums-catlog:hover #singer{border-bottom:none;}
    nav{ height:65px !important;}
    nav{ height:65px !important;}
    .tkw-albums #titles{margin-top:15px !important;}
    #Artists .albums-catlog{width:170px;}
    #Artists .albums-img {height: 145px;}
    #Popular .albums-catlog , #New .albums-catlog , #Collections .albums-catlog , #Albums .albums-catlog{width: 170px;padding:5px;}
    #Popular .albums-img , #New .albums-img , #Collections .albums-img , #Albums .albums-img{height: 150px;background:transparent;}
    #Popular .catlog-space-top , #New .catlog-space-top , #Collections .catlog-space-top , #Albums .catlog-space-top{height:200px;.card-image}
    #Artists .catlog-space-top {height: 185px;}
    .show-more{ width:100%;margin-right:3px;}
    #Artists .card-title { bottom: 25px;left: 25px;}
    .jwplayer.jw-flag-aspect-mode{height:85px !important;}
    .jw-reset{line-height:5em !important;}
}

@media only screen and (min-width: 375px) and (max-width: 423px)
{
    .logo-img{height: 30px ;}
    .k-title{font-size:20px;}
    .page-footer{    position: relative; top:80px;}
    .home .col.s12{border-bottom: 1px solid #d3d3d3;}
    .albums-catlog{padding:2px ;}
    .view-all-title { width: 40%; margin-right: 30% ; font-size: large;}
    .center-albums{ margin-left: 6.5px; position: relative; top: 38px; margin-bottom:70px ;}
    .center-albums .col.s12 {padding:3px ; margin-bottom:0px ;}
    .k-title{width: 44% ;}
    .home_urdutitle{margin-right:10px;}
    .searchbox{  margin-left: 4px !important ; position: absolute !important ; top: 5px;}
    .brand-logo{    left: 51% ;  width: 170px;}
    .side-nav{width: 210px ;}
    .slider{height: 260px !important ; top:55px;}
    .slides{height: 260px !important ;}
    .copyright{ display: block; text-align: center;}
    .social-icons{display: inline-block;margin-left: 12%;}
    .albums-img {  height: 124px ;  }
    .profile-scroll { position: fixed;  left: 83%;  top: 84%;  z-index: 1;}
    .fa_profile {  width: 36px;  font-size: 20px ;}
    .find{width: 100% ; }
    .search_all { width: 59%;  margin-bottom: 15px;  }
    .card.small{ height: 160px ;  margin-top: 25px;}
    .tracks{ margin-left: 0px ; padding: 0px ; width: 100% ;}
    .track-features{ width: 23% ; bottom: 15px;  left: 6%;}
    .album-title{ margin-top: 25%;  width: 70%;  font-size: 17px; }
    .album-main-img{margin-left: 0px ; width: 40% ;}
    .tracks-list{margin-left: 0px ; padding: 0px ; }
    .artist-track{margin-left: 0px ; width: 60%;overflow: hidden; height: 43px; margin-top: 18px;}
    .track{height: 85px ; padding: 0px ;}
    .album-bg-img{ width: 100% !important;}
    .album-tracks-data{ width: 100% ; padding: 0px;}
    .card.profile-img{ height: 88px ;  margin-top: 25px;}
    .track-features .fa { margin: 0px ; }
    .mble-view{padding: 0px ;}
    .mble_nav{margin-bottom: 0px ;}
    .artist-name{font-size: small;}
    .home .card.small {margin-top:0px ;}
    .home .card-image {margin-top:0px ;}
    .card-title { bottom: 32px ; left: 32px ;}
    .ellipsis-artist{    white-space: nowrap;  width: 90% ;  overflow: hidden;  text-overflow: ellipsis;}
    #search-btn{ float: right; opacity: 1; margin-right:15px;}
    #search-btn > .material-icons{ font-size: 30px ;}
    nav .input-field label.active i {bottom:25px;}
    .album-subtitle{font-size:13px; width:70%;}
    /* 	.card-image{margin-top:45px ;} */
    .play-pause{width:100% ;}
    .by-artist { display: block; margin-left: 60px; font-size:11px;}
    a.track-name > .fa-play:before {position:relative; top:10px;}
    .blur-img{width:70%;}
    .mble-view{margin-left : 3px;}
    .center-albums > .col.s12{ box-shadow:none;}
    .tkw-show-more-tracks { width: 47% ; margin-right: 26% ;}
    .search-result .albums-img{height:75px ;}
    .search-title{margin-top:25px ; margin-bottom:20px ;}
    /* 	.search-result > .albums-catlog{ margin-left:21px ;}
    */	.mble-search{width:72% ;}
    .search-result > .albums-catlog{width:80px ;}
    .margin-20{width:100% ;}
    .search-result{width:100% ;}
    .show-more{float:right;}
    .more-album-btn{width:65% ;  margin-right: 50% ;}
    .margin-20 > .view-all-title { width: 40%;}
    .input-field input[type=search] ~ .material-icons{bottom:14px ;}
    #search2{display:none;}
    #srchbox{display:none;}
    .jw-controlbar.jw-background-color.jw-reset{width:100% !important ;}
    .jw-display.jw-reset{padding-top:12px !important ; padding-bottom:0px !important;z-index:9999;}
    .jwplayer .jw-display-icon-container{background:none;}
    .jw-display-controls{margin-left:120px !important ;}
    .jwplayer.jw-state-playing.jw-flag-user-inactive .jw-display{visibility:visible !important;opacity:1 !important;}
    .search-result .card-title { bottom: -8px ; left: 1px ;}
    .tkw-home-body-content .center-albums{top:70px ;bottom:50px;}
    .search-result .card-image { margin-top:0px ; }
    .search-result .card.small { margin-top:0px ;}
    .col.s11.viewmore-title {  height: 20px;}
    .tracks-list{box-shadow:none ;}
    .card.small.albums-img{margin:0px ;}
    .card-content{margin-bottom:10px;}
    .tracks-name{font-size:11.5px;}
    .tkw-albums .col.s6 { width:100% ; }
    .mark{display:none;}
    .search-title .artist{font-size:12px;}
    .album{font-size:12px;}
    .home{top: 60px;}
    .by-dash{display:none;}
    nav .brand-logo > img { margin-top: 2px;}

    #Popular .view-all-title , #New .view-all-title  , #Collections .view-all-title , #Artists .view-all-title , #Albums .view-all-title{width:96%;margin-right:5px;}
    #Popular .k-title, #New .k-title, #Collections .k-title, #Artists .k-title, #Albums .k-title{margin-top:17px;}
    #New > #titles , #Popular > .all-albums{margin-top:0px;}
    #Collections > #New , #Collections > .all-albums{margin-top:0px;}
    #Artists > #titles , #Artists > .all-albums{margin-top:0px;}
    #Albums > #titles , #Albums > .all-albums{margin-top:0px;}
    .albums-catlog:hover #singer{border-bottom:none;}
    nav{ height:65px !important;}
    nav{ height:65px !important;}
    .tkw-albums #titles{margin-top:15px !important;}
    #Artists .albums-catlog{width:170px;}
    #Artists .albums-img {height: 145px;}
    #Popular .albums-catlog , #New .albums-catlog , #Collections .albums-catlog , #Albums .albums-catlog{width: 170px;padding:5px;}
    #Popular .albums-img , #New .albums-img , #Collections .albums-img , #Albums .albums-img{height: 150px;background:transparent;}
    #Popular .catlog-space-top , #New .catlog-space-top , #Collections .catlog-space-top , #Albums .catlog-space-top{height:200px;.card-image}
    #Artists .catlog-space-top {height: 185px;}
    .show-more{ width:100%;margin-right:3px;}
    #Artists .card-title { bottom: 25px;left: 25px;}
    .jwplayer.jw-flag-aspect-mode{height:85px !important;}
    .jw-reset{line-height:5em !important;}

}

@media only screen and (min-width: 320px) and (max-width: 359px)
{
    .logo-img{height: 30px ;}
    .k-title{font-size:20px;}
    .page-footer{    position: relative; top:80px;}
    .home .col.s12{border-bottom: 1px solid #d3d3d3;}
    .albums-catlog{padding:2px ;}
    .view-all-title { width: 40%; margin-right: 30% ; font-size: large;}
    .center-albums{ margin-left: 6.5px; position: relative; top: 38px; margin-bottom:70px ;}
    .center-albums .col.s12 {padding:3px ; margin-bottom:0px ;}
    .k-title{width: 44% ;}
    .home_urdutitle{margin-right:10px;}
    .searchbox{  margin-left: 4px !important ; position: absolute !important ; top: 5px;}
    .brand-logo{    left: 51% ;  width: 170px;}
    .side-nav{width: 210px ;}
    .slider{height: 230px !important ; top:55px;}
    .slides{height: 230px !important ;}
    .copyright{ display: block; text-align: center;}
    .social-icons{display: inline-block;margin-left: 12%;}
    .albums-img {  height: 124px ;  }
    .profile-scroll { position: fixed;  left: 83%;  top: 84%;  z-index: 1;}
    .fa_profile {  width: 36px;  font-size: 20px ;}
    .find{width: 100% ; }
    .search_all { width: 59%;  margin-bottom: 15px;  }
    .card.small{ height: 160px ;  margin-top: 25px;}
    .tracks{ margin-left: 0px ; padding: 0px ; width: 100% ;}
    .track-features{ width: 23% ; bottom: 15px;  left: 6%;}
    .album-title{ margin-top: 25%;  width: 70%;  font-size: 17px; }
    .album-main-img{margin-left: 0px ; width: 40% ;}
    .tracks-list{margin-left: 0px ; padding: 0px ; }
    .artist-track{margin-left: 0px ; width: 60%;overflow: hidden; height: 43px; margin-top: 18px;}
    .track{height: 85px ; padding: 0px ;}
    .album-bg-img{ width: 100% !important;}
    .album-tracks-data{ width: 100% ; padding: 0px;}
    .card.profile-img{ height: 88px ;  margin-top: 25px;}
    .track-features .fa { margin: 0px ; }
    .mble-view{padding: 0px ;}
    .mble_nav{margin-bottom: 0px ;}
    .artist-name{font-size: small;}
    .home .card.small {margin-top:0px ;}
    .home .card-image {margin-top:0px ;}
    .card-title { bottom: 32px ; left: 32px ;}
    .ellipsis-artist{    white-space: nowrap;  width: 90% ;  overflow: hidden;  text-overflow: ellipsis;}
    #search-btn{ float: right; opacity: 1; margin-right:15px;}
    #search-btn > .material-icons{ font-size: 30px ;}
    nav .input-field label.active i {bottom:25px;}
    .album-subtitle{font-size:13px; width:70%;}
    /* 	.card-image{margin-top:45px ;} */
    .play-pause{width:100% ;}
    .by-artist { display: block; margin-left: 60px; font-size:11px;}
    a.track-name > .fa-play:before {position:relative; top:10px;}
    .blur-img{width:70%;}
    .mble-view{margin-left : 3px;}
    .center-albums > .col.s12{ box-shadow:none;}
    .tkw-show-more-tracks { width: 47% ; margin-right: 26% ;}
    .search-result .albums-img{height:75px ;}
    .search-title{margin-top:25px ; margin-bottom:20px ;}
    /* 	.search-result > .albums-catlog{ margin-left:21px ;}
    */	.mble-search{width:72% ;}
    .search-result > .albums-catlog{width:80px ;}
    .margin-20{width:100% ;}
    .search-result{width:100% ;}
    .show-more{float:right;}
    .more-album-btn{width:65% ;  margin-right: 50% ;}
    .margin-20 > .view-all-title { width: 40%;}
    .input-field input[type=search] ~ .material-icons{bottom:14px ;}
    #search2{display:none;}
    #srchbox{display:none;}
    .jw-controlbar.jw-background-color.jw-reset{width:100% !important ;}
    .jw-display.jw-reset{padding-top:12px !important ; padding-bottom:0px !important;z-index:9999;}
    .jwplayer .jw-display-icon-container{background:none;}
    .jw-display-controls{margin-left:120px !important ;}
    .jwplayer.jw-state-playing.jw-flag-user-inactive .jw-display{visibility:visible !important;opacity:1 !important;}
    .search-result .card-title { bottom: -8px ; left: 1px ;}
    .tkw-home-body-content .center-albums{top:70px ;bottom:50px;}
    .search-result .card-image { margin-top:0px ; }
    .search-result .card.small { margin-top:0px ;}
    .col.s11.viewmore-title {  height: 20px;}
    .tracks-list{box-shadow:none ;}
    .card.small.albums-img{margin:0px ;}
    .card-content{margin-bottom:10px;}
    .tracks-name{font-size:11.5px;}
    .tkw-albums .col.s6 { width:100% ; }
    .mark{display:none;}
    .search-title .artist{font-size:12px;}
    .album{font-size:12px;}
    .home{top: 60px;}
    .by-dash{display:none;}
    nav .brand-logo > img { margin-top: 2px;}

    #Popular .view-all-title , #New .view-all-title  , #Collections .view-all-title , #Artists .view-all-title , #Albums .view-all-title{width:96%;margin-right:5px;}
    #Popular .k-title, #New .k-title, #Collections .k-title, #Artists .k-title, #Albums .k-title{margin-top:17px;}
    #New > #titles , #Popular > .all-albums{margin-top:0px;}
    #Collections > #New , #Collections > .all-albums{margin-top:0px;}
    #Artists > #titles , #Artists > .all-albums{margin-top:0px;}
    #Albums > #titles , #Albums > .all-albums{margin-top:0px;}
    .albums-catlog:hover #singer{border-bottom:none;}
    nav{ height:65px !important;}
    nav{ height:65px !important;}
    .tkw-albums #titles{margin-top:15px !important;}
    #Artists .albums-catlog{width:100px;}
    #Artists .albums-img {height: 85px;}
    #Popular .albums-catlog , #New .albums-catlog , #Collections .albums-catlog , #Albums .albums-catlog{width: 150px;padding:5px;}
    #Popular .albums-img , #New .albums-img , #Collections .albums-img , #Albums .albums-img{height: 150px;background:transparent;}
    #Popular .catlog-space-top , #New .catlog-space-top , #Collections .catlog-space-top , #Albums .catlog-space-top{height:200px;.card-image}
    #Artists .catlog-space-top {height: 135px;}
    .show-more{ width:100%;margin-right:3px;}
    #Artists .card-title { bottom: 0px;left: 0px;}
    .jwplayer.jw-flag-aspect-mode{height:85px !important;}
    .jw-reset{line-height:5em !important;}

}

@media only screen and (min-width: 360px) and (max-width: 374px)
{
    .logo-img{height: 30px ;}
    .k-title{font-size:20px;}
    .page-footer{    position: relative; top:80px;}
    .home .col.s12{border-bottom: 1px solid #d3d3d3;}
    .albums-catlog{padding:2px ;}
    .view-all-title { width: 40%; margin-right: 30% ; font-size: large;}
    .center-albums{ margin-left: 6.5px; position: relative; top: 38px; margin-bottom:70px ;}
    .center-albums .col.s12 {padding:0px ; margin-bottom:0px; width:99% !important;}
    .k-title{width: 44% ;}
    .home_urdutitle{margin-right:10px;}
    .searchbox{  margin-left: 4px !important ; position: absolute !important ; top: 5px;}
    .brand-logo{    left: 51% ;  width: 170px;}
    .side-nav{width: 210px ;}
    .slider{height: 260px !important ; top:55px;}
    .slides{height: 260px !important ;}
    .copyright{ display: block; text-align: center;}
    .social-icons{display: inline-block;margin-left: 12%;}
    .albums-img {  height: 124px ;  }
    .profile-scroll { position: fixed;  left: 83%;  top: 84%;  z-index: 1;}
    .fa_profile {  width: 36px;  font-size: 20px ;}
    .find{width: 100% ; }
    .search_all { width: 59%;  margin-bottom: 15px;  }
    .card.small{ height: 160px ;  margin-top: 25px;}
    .tracks{ margin-left: 0px !important ; padding: 0px !important ; width: 100% !important;}
    .track-features{ width: 23% ; bottom: 15px;  left: 6%;}
    .album-title{font-size: 15px; }
    .album-main-img{margin-left: 0px ; width: 40% ; width:50% !important; float:right !important;}
    .tracks-list{margin-left: 0px ; padding: 0px ; }
    .artist-track{margin-left: 0px ; width: 60%;overflow: hidden; height: 43px; margin-top: 18px;}
    .track{height: 60px ; padding: 0px; margin-left:5px !important;}
    .album-bg-img{ width: 100% !important;}
    .album-tracks-data{ width: 100% !important ; padding: 0px !important;}
    .card.profile-img{ height: 88px ;  margin-top: 25px;}
    .track-features .fa { margin: 0px ; }
    .mble-view{padding: 0px ;}
    .mble_nav{margin-bottom: 0px ;}
    .artist-name{font-size: small;}
    .home .card.small {margin-top:0px ;}
    .home .card-image {margin-top:0px ;}
    .card-title { bottom: 32px ; left: 32px ;}
    .ellipsis-artist{    white-space: nowrap;  width: 90% ;  overflow: hidden;  text-overflow: ellipsis;}
    #search-btn{ float: right; opacity: 1; margin-right:15px;}
    #search-btn > .material-icons{ font-size: 30px ;}
    nav .input-field label.active i {bottom:25px;}
    .album-subtitle{font-size:13px; width:70%;}
    /* 	.card-image{margin-top:45px ;} */
    .play-pause{width:100% ;}
    .by-artist { display: block; font-size:11px;}
    a.track-name > .fa-play:before {position:relative; top:10px;}
    .blur-img{width:90%;}
    .mble-view{margin-left : 3px;}
    .center-albums > .col.s12{ box-shadow:none;}
    .tkw-show-more-tracks { width: 47% ; margin-right: 26% ;}
    .search-result .albums-img{height:75px ;}
    .search-title{margin-top:25px ; margin-bottom:20px ;}
    /* 	.search-result > .albums-catlog{ margin-left:21px ;}
    */	.mble-search{width:72% ;}
    .search-result > .albums-catlog{width:80px ;}
    .margin-20{width:100% ;}
    .search-result{width:100% ;}
    .show-more{float:right;}
    .more-album-btn{width:65% ;  margin-right: 50% ;}
    .margin-20 > .view-all-title { width: 40%;}
    .input-field input[type=search] ~ .material-icons{bottom:14px ;}
    #search2{display:none;}
    #srchbox{display:none;}
    .jw-controlbar.jw-background-color.jw-reset{width:100% !important ;}
    .jw-display.jw-reset{padding-top:12px !important ; padding-bottom:0px !important;z-index:9999;}
    .jwplayer .jw-display-icon-container{background:none;}
    .jw-display-controls{margin-left:120px !important ;}
    .jwplayer.jw-state-playing.jw-flag-user-inactive .jw-display{visibility:visible !important;opacity:1 !important;}
    .search-result .card-title { bottom: -8px ; left: 1px ;}
    .tkw-home-body-content .center-albums{top:70px ;bottom:50px;}
    .search-result .card-image { margin-top:0px ; }
    .search-result .card.small { margin-top:0px ;}
    .col.s11.viewmore-title {  height: 20px;}
    .tracks-list{box-shadow:none ; margin-left:0px !important;}
    .card.small.albums-img{margin:0px ;}
    .card-content{margin-bottom:10px;}
    .tracks-name{font-size:11.5px;}
    .tkw-albums .col.s6 { width:100% ; }
    .mark{display:none;}
    .search-title .artist{font-size:12px;}
    .album{font-size:12px;}
    .home{top: 60px;}
    .by-dash{display:none;}
    nav .brand-logo > img { margin-top: 2px;}

    #Popular .view-all-title , #New .view-all-title  , #Collections .view-all-title , #Artists .view-all-title , #Albums .view-all-title{width:96%;margin-right:5px;}
    #Popular .k-title, #New .k-title, #Collections .k-title, #Artists .k-title, #Albums .k-title{margin-top:17px;}
    #New > #titles , #Popular > .all-albums{margin-top:0px;}
    #Collections > #New , #Collections > .all-albums{margin-top:0px;}
    #Artists > #titles , #Artists > .all-albums{margin-top:0px;}
    #Albums > #titles , #Albums > .all-albums{margin-top:0px;}
    .albums-catlog:hover #singer{border-bottom:none;}
    nav{ height:65px !important;}
    nav{ height:65px !important;}
    .tkw-albums #titles{margin-top:15px !important;}
    #Artists .albums-catlog{width:113px; padding:2px;}
    #Artists .albums-img {height: 113px;}
    #Popular .albums-catlog , #New .albums-catlog , #Collections .albums-catlog , #Albums .albums-catlog{width: 170px;padding:5px;}
    #Popular .albums-img , #New .albums-img , #Collections .albums-img , #Albums .albums-img{height: 150px;background:transparent;}
    #Popular .catlog-space-top , #New .catlog-space-top , #Collections .catlog-space-top , #Albums .catlog-space-top{height:200px;.card-image}
    #Artists .catlog-space-top {height: 140px;}
    .show-more{ width:100%;margin-right:3px;}
    #Artists .card-title { bottom: 10px;left: 5px;}
    .jwplayer.jw-flag-aspect-mode{height:85px !important;}
    .jw-reset{line-height:5em !important;}
    .jw-reset{line-height:5em !important;}
    .album-count{ text-align: center;  margin-right: 15px;}
    .Track-catlog{ width: 40px !important ; padding: 0px !important; margin-top: 3px;}
    .tracks-img{height:40px !important; background:none !important;}
    .track-detail{padding:0px !important; margin-left:10px !important; margin-top: 3px;}
    .tracklist-margin{margin-top:5px;}
    .options-txt{font-size: 10px;margin-left: 8px;display: table-cell; width: 30px;text-align: center;}
    .option-icon{ font-size: 18px !important; padding: 6px !important; border-radius: 27px; color: #d0d0d0; margin-bottom: 2px;}
    .tracksmallimg{border-radius:5px !important;}
    .album-main-image img{border-radius:5px !important;}
    .singer-profile{top:85px !important;}
    .ptitle{margin-bottom:0px !important;}
    .profile-container{background:white;width:100% !important; padding:0px !important;padding-bottom:15px !important;}
    .a-title{text-align: center; font-size: 25px; color: #213a94; font-weight: 600;}
    .a-subtitle{text-align:center;}
    .a-subtitle > span .fa-share{    background: none; color: #7b7878; margin-left: 20px;}
    .a-subtitle > span .fa-thumbs-o-up{    background: none; color: #7b7878;}
    .a-subtitle span {padding:10px;font-size: 11px;}
    .detail-title{ color: #213a94; font-size: 12px !important; font-weight: 600 !important;}
    nav {     background-repeat-y: no-repeat !important;
              background-position: bottom !important;
              background-size: 65px !important;}
    .singer-profile #titles{margin-top:0px !important;}
}
