body{font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;}
.searchbox { z-index: 9999; width: 98%;}
body{ background: #765fb705;}
.logo {padding-left: 20px !important; left:0px;}
.logo-img { height: 40px; margin-top: 14px;}
.menu-space {padding-right: 85px;  }
.button-collapse{margin-left:10px !important;}
nav { background:#213a94 url("http://10.0.0.47/koyalpk/images/nav-border.png") !important;  }
body{background: #765fb705}
nav .brand-logo > img { width: 100px; margin-top: 5px;}
.mble-logo > img {width:85px !important;}
.card-image { max-height: 100% !important; border-radius:10px;  }
.center-albums .col.s12 { margin-bottom: 20px;  box-shadow: 1px 1px 1px 1px #e2d8d8; width: 98% !important;}
.slider .slides li img {background-size: cover; background-position: top !important; }
.page-footer {background: #213a94 !important;}
nav .nav-wrapper { border-bottom: 2px solid #ec297b;}
.nav-wrapper .input-field input[type=search] { background: white;  height: 45px !important;}
nav .input-field label.active i { color: #213a94 !important;  font-size: x-large; position: absolute;  bottom: 18px;}
.input-field input[type=search] ~ .mdi-navigation-close, .input-field input[type=search] ~ .material-icons { bottom: 8px;  }
.k-title {  margin-left: 10px;  color: white;  font-size: 20px;  padding: 5px; background-color: white; width: 91%;  }
.k-title{width: 15%; margin-top:20px;  text-align: left; color:#213a94;  font-size: 25px; background: none; font-weight:bold;}
/* .albums-img {  height: 200px !important;  } */
/* .albums-catlog {  width: 220px !important; } */
.view-all-title { display: inline-block; width: 11%;float: right;  margin-right: 5%; background: #213a94 !important; text-align: center;  box-shadow: 1px 1px 1px 1px #929292; border-radius: 20px 20px;  }
.center-albums .view-all-title { margin-bottom:20px;    margin-right: 1%; margin-top: 15px; }
.view-all-title > a { color:white;}
.icon-spacing { margin-right: 5px !important;  }
.card-content { padding: 15px !important;  }
.margin-20 > .view-all-title { width:12%;}
.center-albums {margin-left: 5%; }
.tkw-sorted-content{display:inline-block; width:100%;}
#search-btn{opacity:0;}
.home_title{display:inline-block;}
.home_urdutitle{display:inline-block; float:right; text-align:right;}
.margin-top-10{ margin-top:10px;}
.tracks-name{/*  margin-left:20px; */ color: #4a4a4a;}
.by-artist{    color: #848383;}
.card-content{ padding:0px !important;text-align: left; color: #2b2b2b;}
.album-artist{ color: #3c3c3c;  font-size: 12px; }
.album-by{    font-size: 13px; display:block;}
.show-more{ width: 62%; display: inline-table;}
.tkw-show-more-tracks{ width: 15% !important ;margin-right: 40% !important;}
.ellipsis{ overflow: hidden; width: 100%; text-overflow: ellipsis; white-space: nowrap;  display: inline-block; margin: 0;   vertical-align: bottom;}
.fa {  font-size: 20px !important; margin-right: 12px; background: #f7f7f7;  width: 35px; color: #213a94;  padding: 5px; border-radius: 8px;  text-align: center;  }
.find {margin-top: 12px;}
.find > h6 { display: inline; width:20%; margin-right: 10px;  }
.search_all {width: 75%; margin-bottom: 15px;  }
.tkw-action{ color:#213a94; font-size: 25px; margin-top:30px; }
.sort_btn {background: #059cd4 !important; ;}
.jw-player{background:transparent !important; position:fixed;bottom:0px;}
.jw-rightclick{display:none !important;}
.jwplayer{position:fixed !important; bottom:0px;}
.catlog-space-top{margin-top: 10px;}
.dropdown-content li>a{  font-size: 15px;}
.page-footer{ padding-top:0px !important;}
.jw-aspect {display:none !important;}
.album-bg-img {height: 240px; background: rgb(7, 17, 30);  }
.album-tracks-data{ min-height: 150px; background: #f7f7f7;}
.album-main-img { margin-top: 30px;}
.tracks{ min-height: 150px;}
.tracks-list{ margin-left: 14px !important;}
.track{  height: 70px;  background: #f7f7f7;  border-bottom: 1px solid #d6d6d6; box-shadow:none !important; margin-bottom:0px !important;}
.play-pause{ width: 80%;display: inline-block; margin-top: 20px; float: left;}
.artist-track{ width: 70%; display: inline-block; margin-top: 15px;margin-left: 20px;}
.track-name{font-weight: 700;}
.artist-name{color: #5a5a5a;}
.blur-img{ position: absolute; width: 100%;  background-size: cover!important;left: 13px; filter: blur(8px); height: 200px;margin-top: 30px;}
.track-features{ width: 11%;  display: inline-table; position: relative; bottom: 12px;left: 14%;}
.margin-right-zero{margin-right: 0px !important;}
.view-more { margin-top: 20px;}
.album-title{color: white; text-align: left;position: relative; text-shadow: 0 0 5px #5d5d5d;  margin: 0px;margin-bottom: 5px; font-weight:600;}
.category-title{ color: white; text-align: left;  position: relative; text-shadow: 0 0 5px #5d5d5d; margin: 0px; margin-bottom: 5px; margin-top: 25%;  font-size: 10px; text-transform: uppercase; letter-spacing: 3px;}
.artist-title{ color: white;text-align: left;width: 50%;position: relative; font-size: 15px; text-shadow: 0 0 5px #5d5d5d; margin: 0px;}
.album-subtitle{    margin-top: 0px !important; color: white;text-align: left; width: 55%;position:relative;text-shadow: 0 0 5px #5d5d5d;}
.album-subtitle > span .fa-thumbs-o-up {background: none;color: white;}
.album-subtitle > span .fa-share {background: none;   color: white; margin-left: 20px;}
.profile{margin-bottom: 5%;}
/* .profile-img{ height: 195px !important;} */
.profile-title { margin-top: 10%;   color: white;  text-align: left;    width: 55%;  margin-left: 19%;  }
.profile-scroll{ position: fixed; left: 95%; top: 92%; z-index:9999; display:none;}
.fa_profile{width: 50px; font-size: 31px !important;  background: #059cd4;color: white;  border: 2px solid white;}
.social-f{background: #0f89d0; color: white;}
.social-tw{background: white;  color: #01a5e2;}
.social-ins{ background: #6d312e;  color: white;}
.social-ytb{  background: #c33434;  color: white;}
.social-gg{  background: white;  color: #d85555;}
.slider .indicators .indicator-item.active{    background-color: #059cd4 !important;  }
.track:hover{ border-bottom: 2px solid #ec297b; cursor: pointer }
/*.track:hover .fa-play{  border: 3px solid #059cd4;  border-radius: 20px;  width: 39px; font-size: large !important; } */
.track:hover .play-pause{  margin-left: 20px;}
.mble-view{background:none;box-shadow:none !important;}
.fa{margin-right: 0px !important;}
.dot-menu{ background: #01a5e2;  color: white;}
nav .button-collapse i {  height: 40px !important;  line-height: 50px !important; margin-top:3px; }
.search-icon{ display: inline-block;  color: white;  position: absolute;  left: 83%;}
#search{ border-radius: 60px;}
/* .card-image:hover{ border-radius: 110px;} */
.card-image{-webkit-transition-property: border-radius; /* Safari */  -webkit-transition-duration: 1s; /* Safari */  transition-property: border-radius;  transition-duration: 1s;}
.card.small { box-shadow:none }
.indicators{display: none;}
.caption{display:none;}
/* .card-title{ bottom: 40px;  left: 47px; } */
.album-play{background: none;  color: white;  font-size: 40px !important;}
.social-icons .fa { margin-right: 10px !important;}
.card-image:hover .album-play{/* color:#213a94; */ color:white;}
.search-result > .albums-catlog { width: 120px !important;}
.search-result .albums-img { height: 95px !important; background: #f3f3f3;}
.search-result .card-title {  bottom: 0px !important;  left: 11px !important;}
.search-result .album-play {font-size: 35px !important;}
.search-result { background: #fcfbfd;  border-bottom: 2px solid #e8e7e7;}
.search-title > span { display: block;}
.search-title{margin-top: 35px;}
.margin-20{margin-top:20px;}
.search-result:hover { background: #e4e4e4; cursor: pointer;}
.search-result:hover .albums-img{background: #e4e4e4;}
.search-title .artist { color: #059cd4;  font-size: medium;}
.search-title .author {font-size: smaller;}
.search-more{    display: block;  float: right;}
.margin-bottom-30{margin-bottom: 30px;}
.play-pause{  -webkit-transition-property: margin-left; /* Safari */  -webkit-transition-duration: 1s; /* Safari */  transition-property: margin-left;  transition-duration: 1s;}
/* .carouse-arrow{ background: none ; color:  white ; margin-right: 0px ; position:relative; bottom:16px;} */
/* carousel */
/* .carousel {  margin-bottom: 0;  padding: 0 40px 30px 40px;  height: 200px  !important;  margin-top: 20px;  } */
/* The controlsy */
/* .carousel-control {  left: -12px;  height: 40px;  width: 40px;  background: none repeat scroll 0 0 #222222;  border: 4px solid #FFFFFF;  border-radius: 23px 23px 23px 23px;  margin-top:35px;  } */
/* .carousel-control.right {  right: -12px;  } */
/* The indicators */
/* .carousel-indicators {  right: 50%;  top: auto;  bottom: -10px;  margin-right: -19px;  } */
/* The colour of the indicators */
/* .carousel-indicators li {  background: #cecece;  }
.carousel-indicators .active {  background: #428bca;  } */
.overflow-x-hidden {  overflow-x: hidden;  }
.mble-logo {background: #213a94 !important;  color: white !important; width: 100% !important; text-align: center; font-size: 25px !important; top:2px !important; }
.side-nav li>a:hover {  background-color: #213a94 !important; color: white !important; }
.social-icons{display:none !important;}
.footer-copyright{text-align:center;}
.padding-zero{padding:0px !important;}
.option-icon:hover{color: white;
    background: #ff2e72;}
.tkw-thumbnail-image{z-index:1;}


/* The Modal (background) */
.smodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.smodal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 43%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #716f6f;
    float: right;
    font-size: 45px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.smodal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.smodal-body {padding: 2px 16px;width:100%;display:inline-block;}

.smodal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
input.Sharelink
{width:100%;}
.socialshares img {
    width: 40px;
    margin: 5px;
}
.socialshares {
    border-bottom: 1px solid #e8e7e7;
    height: 60px;
}
.smodal-body h5
{
	 color: #716f6f;
	 display:inline-block;
}
input.Sharelink {
     color: #716f6f;
}
.smodal-body i.material-icons.left
{
	line-height:35px;
}
.copy-btn{
    float: right;
    margin-bottom: 15px;
    margin-top: 15px;
}