#Popular .k-title , #New .k-title  , #Collections .k-title , #Artists .k-title , #Albums .k-title 
{
	color:white;
	margin-top:10px;
}
#Popular , #New , #Collections , #Artists , #Albums
{
	background:url("http://10.0.0.47/koyalpk/images/catlog-bg.jpg")no-repeat;
	background-size:cover;
}
#Popular > #titles , #Popular > .all-albums
{
	margin-bottom:15px;
	margin-top:15px;
	background:#138639 url("http://10.0.0.47/koyalpk/images/border.png");
	background-repeat-y: no-repeat;
    background-position: center;
}
#New > #titles , #New > .all-albums
{
	margin-bottom:15px;
	margin-top:15px;
	background:#358adb url("http://10.0.0.47/koyalpk/images/border.png");
	background-repeat-y: no-repeat;
    background-position: center;
}
#Collections #titles , #Collections > .all-albums
{
	margin-bottom:15px;
	margin-top:15px;
	background:#213a94 url("http://10.0.0.47/koyalpk/images/border.png");
	background-repeat-y: no-repeat;
    background-position: center;
}
#Artists #titles , #Artists > .all-albums
{
	margin-bottom:15px;
	margin-top:15px;
	background:#ff4f17 url("http://10.0.0.47/koyalpk/images/border.png");
	background-repeat-y: no-repeat;
    background-position: center;
}
#Albums > #titles , #Albums > .all-albums
{
	margin-bottom:15px;
	margin-top:15px;
	background:#ec297b url("http://10.0.0.47/koyalpk/images/border.png");
	background-repeat-y: no-repeat;
    background-position: center;
}
#Popular .view-all-title , #New .view-all-title  , #Collections .view-all-title , #Artists .view-all-title , #Albums .view-all-title 
{
	width: 18%;
	border-radius: 5px 5px;
	background: #ffffff !important;
	box-shadow:none;
}
#Popular .view-all-title
{
	border:2px solid #138639;
}
#Popular .view-all-title > a
{
	color:#138639;
	font-size: 17px;
}
#Popular .view-all-title:hover > a , #New .view-all-title:hover > a  , #Collections .view-all-title:hover > a , #Artists .view-all-title:hover > a  ,#Albums .view-all-title:hover > a 
{
	color:white;
}
#New .view-all-title
{
		border:2px solid #358adb;
		
}
#New .view-all-title > a
{
	color:#358adb;
	font-size: 17px;
}
#Collections .view-all-title
{
		border:2px solid #213a94;
		
}
#Collections .view-all-title > a
{
	color:#213a94;
	font-size: 17px;
}
#Artists .view-all-title
{
		border:2px solid #ff4f17;
		
}
#Artists .view-all-title > a
{
	color:#ff4f17;
	font-size: 17px;
}
#Artists .card-image
{
	border-radius:110px;
}
#Artists .card
{
	background:none;
}
#Albums .view-all-title
{
		border:2px solid #ec297b;
		
}
#Albums .view-all-title > a
{
	color:#ec297b;
	font-size: 17px;
}
#Popular .view-all-title > a:hover , #New .view-all-title > a:hover , #Collections .view-all-title > a:hover  , #Artists .view-all-title > a:hover , #Albums .view-all-title > a:hover 
{
	color:white;
}
#Popular .view-all-title:hover{ background:#138639 !important; color:white !important;}
#New .view-all-title:hover{background:#358adb !important;}
#Collections .view-all-title:hover{background:#213a94 !important;}
#Artists .view-all-title:hover{background:#ff4f17 !important ;} 
#Albums .view-all-title:hover {background:#ec297b !important;}
#Artists #singer
{
	text-align:center;
}
#singer
{
	-webkit-transition-property: border-bottom; /* Safari */
	-webkit-transition-duration: .5s; /* Safari */ 
	transition-property: border-bottom;
	transition-duration: .5s;
}
.albums-catlog:hover #singer
{
	border-bottom: 2px solid #565555;
}
.card-image:hover > img 
{
	opacity: 0.5;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
#Popular .card-image:hover .album-play{/* color:#213a94; */ display:block; color:#138639;}
#New .card-image:hover .album-play{/* color:#213a94; */ display:block; color:#358adb;}
#Collections .card-image:hover .album-play{/* color:#213a94; */ display:block; color:#213a94;}
#Artists .card-image:hover .album-play{/* color:#213a94; */ color:#ff4f17; display:block;}
#Artists .card-image .album-play , #Albums .card-image .album-play , #Collections .card-image .album-play , #New .card-image .album-play , #Popular .card-image .album-play
{/* color:#213a94; */ color:#ff4f17; display:none;}
#Albums .card-image:hover .album-play{/* color:#213a94; */ color:#ec297b; display:block;}

.all-albums
{
	width:100% !important;
}
.tkw-count
{
	background:none !important;
}
.cplayer-img
{
	position: fixed;
    bottom: 3px;
    z-index: 9999;
    left: 15px;
	width:50px;
}
.cplayer-img img 
{
	    width: 100%;
}